name: Build and Deploy

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup uv
        uses: astral-sh/setup-uv@v7
      - name: Setup venv
        run: |
          uv venv
      - name: Install the dependencies
        run: |
          uv pip install -r ./competition_files/playgroubd/JupyterLite/requirements.txt
      - name: Build the JupyterLite site
        run: |
          mkdir -p ./competition_files/playgroubd/JupyterLite/content/data
          cp -r ./competition_files/data ./competition_files/playgroubd/JupyterLite/content/data
          uv run jupyter lite build --contents ./competition_files/playgroubd/JupyterLite/content --output-dir ./dist/JupyterLite -y
      - name: Install marimo
        run: |
          uv pip install marimo
      - name: Build marimo
        run: |
          mkdir -p ./competition_files/playgroubd/marimo/public/data
          cp -r ./competition_files/data ./competition_files/playgroubd/marimo/public/data
          uv run marimo export html-wasm --sandbox --mode edit ./competition_files/playgroubd/marimo/sample.py -o ./dist/marimo -f
      - name: Convert markdown
        run: |
          uv run ./competition_files/playgroubd/index_md_convert.py ./competition_files/playgroubd/index.md ./dist/index.html
      - name: Copy file
        run: |
          cp  ./competition_files/playgroubd/.nojekyll ./dist
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist

  deploy:
    needs: build
    if: github.ref == 'refs/heads/main'
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
